.landing {
   position: relative;
   width: 100%;
   display: table;
   z-index: -1;
   height: 50vh;
}

.home-inner {
	background-image: url('../css/Pozadina2.jpg');
	display: table;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

.home-wrap {
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



.navbar-brand img{
 height: 120px;
 padding-left: 20px;
}

.navbar-light {
	padding: 12px 16px;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	
}

.navbar-nav li {
	padding-right: 160px;
    
}

.navbar-nav .nav-link {
	padding-top: 12px;
	color: black!important;
}

.navbar-nav .nav-link:hover {
	color: #fc8621!important;
}


.caption {
	z-index: 1;
	position: absolute;
	top: 40%;
	text-align: center;
}



.form-inline input {
  border-bottom: 1px solid #fc8621;
  box-shadow: 0 1px 0 0 #fc8621;
  padding-left: 10px;
}

.form-inline {
	color: #fc8621;
    padding-top: 20px;
    width: 100%

}

.card-body {
	background-color:#dddddd;

}
.card-body strong {
	color: #db6400;
	
}

.footer {
	background-color: #565b61;
}

.footer img {
	height: 120px;
}

.footer a {
	color: white;
	text-decoration: none;
}

ul.social {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0 auto;
	max-width: 340px;
}

ul.social li {
	margin: 0 auto;
	display: inline;
	padding-right: 40px;
}

.footer .svg-inline--fa {
font-size: 40px;
}
.footer .svg-inline--fa:hover {
color: #fc8621;
}

.main-section {
	margin: 0 auto;
	margin-top:80px;
	padding: 0;
	
}

.modal-content {
	background-color: #434e5a;
	opacity: .8;
	border-radius: 10px;
}

.modal-content button {
	width: 40%;
	margin: 5px 15px 25px;
}

.btn-success {
	background-color: white;
	font-size: 19px;
	border-radius: 5px;
	padding: 7px 14px;
	border: 1px solid #fc8621;
	color: black;

}

.btn-success:hover {
	background-color: #fc8621;
	border: 1px solid #fff5c0;

}

.modal-content h2 {
	color: white;
	margin-bottom: 40px;
	margin-top: -70px;
}


.logo-img img{
	height: 200px;
	width: 200px;
}

.logo-img {
	margin-top: -100px;
	margin-bottom: 70px;
}
.form-group {

}

.form-group input {
	
	width: 180px;
	border-radius: 5px;
	border: 0;
	font-size: 18px;
	letter-spacing: 2px;
	
    }
.form-group h4 {
	
	padding-top: 15px;
	margin-left: 5px;
    
	color: orange;
	font-size: 18px;
	letter-spacing: 2px;
	
    }


    .form-group textarea {
	
	
	border-radius: 5px;
	border: 0;
	font-size: 18px;
	letter-spacing: 2px;
	}


.form-check  {
	
	font-size: 18px;
	letter-spacing: 2px;
	color: white;
	
	padding-top: 10px;

}

.form-check input {
	width: 85px;
	transform: scale(2.0);

}







.pt-4 select  {
	background-color: white;
	border: 1px solid #fc8621;
	color: black;
	font-size: 18px;
	border-radius: 5px;
	padding: 7px 15px;
	
	margin: 5px 80px 25px;
	
	
	}



.col-lg-12 {
	background-color: orange;
	border: 0.5px solid grey;
    font-size: 50px;
    padding-bottom: 10px;
    


}

.col-lg-12 img {
	width: 20%;
}
